{% extends "identities/layout.html" %}

{% block body %}

    <h1>Identites</h1>
    <ul>
        {% for identity in identities %}
            <li> Name: {{ identity.first_name }} {{ identity.last_name }}, Phone: {{ identity.phone }} Spam: {{ identity.is_spam }} </li>
        {% endfor %}
    </ul>
    
    <h1>Registered Users</h1>
    <ul>
        {% for reg in registered %}
            <li> Name: {{ reg.first_name }} {{ reg.last_name }}, Phone: {{ reg.phone }} </li>
        {% endfor %}
    </ul>

{% endblock %}